body {
  margin: 0;
  background: radial-gradient(circle, #001, #000);
  color: #00eaff;
  font-family: Arial, sans-serif;
}

main {
  padding: 30px;
}

button {
  background: #00eaff;
  color: #000;
  border: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

input {
  padding: 8px;
}
